.home {
  background-size: cover !important;
  background-position: 0% 30%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  background: rgba(10, 10, 10, 0.1);
  padding: 20px;
  border-radius: 3px;
  margin-top: 50px;
}

.tagline {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.home-button {
  padding: 10px 20px;
  color: white;
  background: $orange;
  border-radius: 2px;
  transition: all 0.1s ease-in;
  &:hover {
    text-decoration: none;
    color: $orange;
    background: white;
  }
}

.cta-pdf {
  height: 6vh;
  width: 100%;
  background: rgba(10, 10, 10, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $orange;
  }
  &:hover {
    background: $orange;
    p {
      color: white;
    }
  }
}

table {
  margin-top: 3vh;
  width: 100%;
}

th {
  font-family: $header-font;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: solid 2px $blue;
}

td {
  padding: 5px;
  border-bottom: solid 1px rgba(10, 10, 10, 0.1);
}

tbody > tr:hover {
  background: $blue;
  color: white;
}
