// CONTAINER ///////////////////////////////////////////////////////////////////
.method-text-container {
  height: 65vh;
  width: 100%;
  padding: 50px;
}

.method-text-container-small {
  height: 60vh;
  width: 100%;
  padding: 50px;
}

.method-title-container {
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
}


// VIEWS ///////////////////////////////////////////////////////////////////////
#method-view1 {
  // background: rgba(252, 138, 0, 0.05);
  border-bottom: solid 4px $orange;
}

#method-view2 {
  // background: rgba(32, 164, 243, 0.05);
  border-bottom: solid 4px $blue;
}

#method-title1 {
  // border-bottom: solid 20px rgba(252, 138, 0, 0.2);
  background: rgba(252, 138, 0, 0.2);
  display: inline;
}

#method-title2 {
  // border-bottom: solid 20px rgba(252, 138, 0, 0.2);
  background: rgba(32, 164, 243, 0.2);
  display: inline;
}

// CALL-TO-ACTION /////////////////////////////////////////////////////////////
.cta-method {
  height: 6vh;
  width: 100%;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
  }
  transition: all 0.2s ease;
  &:hover {
    background: $blue;
    height: 12vh;
    p {
      color: white;
    }
  }
}

// TESTIMONIALS
.image-container {
  width: 80%;
  text-align: center;
}

.avatar-testimonial {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.testimonial-name {
  width: 100%;
  text-align: center;
  color: $orange;
  h2 {
    font-size: 22px;
  }
}
.testimonial-occupation {
  width: 100%;
  text-align: center;
  h3 {
    font-size: 15px;
  }
}
