// CONTAINER ///////////////////////////////////////////////////////////////////
.method-text-container {
  width: 100%;
  padding: 50px 50px 100px 50px;
  line-height: 2;
}

.method-title-container {
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
}

.method-subtitle-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}


// VIEWS ///////////////////////////////////////////////////////////////////////
#method-view1 {
  // background: rgba(252, 138, 0, 0.05);
  border-bottom: solid 4px $orange;
}

#method-view2 {
  // background: rgba(32, 164, 243, 0.05);
  border-bottom: solid 4px $blue;
}


// TITLES //////////////////////////////////////////////////////////////////////
.method-title1 {
  // background: rgba(252, 138, 0, 0.2);
  display: inline;
}

.method-title2 {
  font-size: 23px;
  // background: rgba(32, 164, 243, 0.2);
  display: inline;
  margin: 15px 0 5px 0;
}

// CALL-TO-ACTION /////////////////////////////////////////////////////////////
.cta-method {
  height: 6vh;
  width: 100%;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-family: $header-font;
  }
  transition: all 0.2s ease;
  &:hover {
    background: $blue;
    height: 12vh;
    p {
      color: white;
    }
  }
}

// TESTIMONIALS
.image-container {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.testimonial-text {
  height: 40vh;
  width: 100%;
  padding-right: 30px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-testimonial {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border: white 1px solid;
}

.testimonial-name {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  color: $orange;
  h2 {
    font-size: 22px;
  }
}
.testimonial-occupation {
  width: 100%;
  text-align: center;
  h3 {
    font-size: 15px;
  }
}
