<%= link_to 'https://drive.google.com/file/d/0B_9fzp-RU1lXSmJ1cW4wYXBMcDA/view?usp=sharing', target: '_blank' do %>
  <div class="cta-pdf">
    <p> <%= t('home.download-pdf') %> </p>
  </div>
<% end %>
