<div class="navbar-ph"></div>

<div class="fluid-container">
  <div class="row">
    <div class="col-xs-12">

      <div class="method-text-container" id="method-view1">
        <h1 id='method-title1'>Porque este methodo ?</h1>
        <p>bla</p>
        <p>bla</p>
        <p>bla</p>
      </div>

      <div class="method-text-container" id="method-view1">
        <h1 id='method-title1'>Testimonials</h1>
        <p>bla</p>
        <p>bla</p>
        <p>bla</p>
      </div>

    </div>
  </div>
</div>

