<div class="navbar-ph"></div>

<div class="fluid-container">

  <div class="row">
    <div class="col-xs-12">
      <div class="method-title-container">
        <h1 id='method-title1'>Testimonials</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="method-text-container" id="method-view1">
        <p>bla</p>
        <p>bla</p>
        <p>bla</p>
      </div>

      <%= render "pages/shared/cta-method" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="method-title-container">
        <h1 id='method-title1'>Testimonials</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="method-text-container" id="method-view1">
        <p>bla</p>
        <p>bla</p>
        <p>bla</p>
      </div>

      <%= render "pages/shared/cta-method" %>
    </div>
  </div>

<!-- TESTIMONIALS -->

  <div class="row">
    <div class="col-xs-12">
      <div class="method-title-container">
        <h1 id='method-title1'>Testimonials</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="image-container">
        <%= image_tag 'testimonial-teacher.jpg', class: 'avatar-testimonial' %>
      </div>

      <div class="testimonial-name">
        <h2>Beatriz</h2>
      </div>

      <div class="testimonial-occupation">
        <h3>Profesora de ingles (Madrid)</h3>
      </div>

    </div>

    <div class="col-xs-3">
      <div class="testimonial-text">
        <p>bla</p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="image-container">
        <%= image_tag 'testimonial-man.jpg', class: 'avatar-testimonial' %>
      </div>

      <div class="testimonial-name">
        <h2>Jorge</h2>
      </div>

      <div class="testimonial-occupation">
        <h3>bla bla (Madrid)</h3>
      </div>

    </div>

    <div class="col-xs-3">
      <div class="testimonial-text">
        <p>bla</p>
      </div>
    </div>
  </div>

</div>
