.alert {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: $header-font;
}
.alert-info {
  margin-top: 8vh;
  background: rgba(10, 10, 10, 0.3);
}
.alert-warning {
  background: $red;
}
