p {
  font-family: $base-font;
  margin: 0;
}

h1, h2, h3 {
  font-family: $header-font;
  margin: 0;
}

a {
  text-decoration: none !important
}

.navbar-ph {
  height: 8vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-form {
 margin: 40px 0 20px 0;
 height: 180px;
}
